{% extends "review/layout.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'review/images/icons/info.svg' %}" alt="Book Info" id="info" class="my-3">
            </div>
            <div class="col-8">
                <h5>Title:</h5>
                <h1 class="txt3">{{ title }}</h1>
                <h5>Author:</h5>
                <h1 class="txt3">{{ author }}</h1>
                <h5>Publication Year:</h5>
                <h1 class="txt3">{{ year }}</h1>
                <h5>ISBN:</h5>
                <h1 class="txt3">{{ isbn }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="bgd2"><a href="https://www.goodreads.com/">Goodreads</a> Review Data:</h1>
                <h5>Average Rating:</h5>
                {% if average_rating %}
                    <p class="txt3">{{ average_rating }}</p>
                {% else %}
                    <p class="txt3">Book data not found in <a href="https://www.goodreads.com/">Goodreads</a>.</p>
                {% endif %}
                <h5>Number of Ratings:</h5>
                {% if work_ratings_count %}
                    <p class="txt3">{{ work_ratings_count }}</p>
                {% else %}
                    <p class="txt3">Book data not found in <a href="https://www.goodreads.com/">Goodreads</a>.</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="bgd2">User Reviews:</h1>
                <div class="reviews my-3">
                    {% for review in rev_data %}
                        <div class="review my-2">
                            <h5 class="welcome"><img src="{% static 'review/images/icons/user.svg' %}" id="user-img" class="mx-1">{% if review.name %}{{ review.name }}{% else %}{{ review.username }}{% endif %}</h5>
                            <p class="stars" title="Rating">
                                {% for i in review.rating %}
                                <img src="{% static 'review/images/icons/star.svg' %}" class="mx-1" alt="Star Icon">
                                {% endfor %}
                                {% for i in review.remainder %}
                                <img src="{% static 'review/images/icons/star_empty.svg' %}" class="mx-1" alt="Star Outline Icon">
                                {% endfor %}
                            </p>
                            <p><i>"{{ review.reviewtext }}"</i></p>
                            <hr>
                        </div>
                    {% empty %}
                        <p>No reviews have been submitted for this book.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="bgd2">Submit Review:</h1>
                <form action="{% url 'book' book_id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <select class="form-control" id="rating" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reviewtext">Review</label>
                        <textarea class="form-control" id="reviewtext" rows="3" name="reviewtext"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
