{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'review/css/style.css' %}">
        <title>{% block title %}{% endblock %} | R8Books</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img src="{% static 'review/images/icons/brand.svg' %}" id="brand-img">
                     R8Books
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100 order-2 dual-collapse2" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% with request.resolver_match.view_name as view_name %}
                            {% if user.is_authenticated %}
                            <li class="nav-item mr-5">
                                <p class="welcome my-2"><i>Welcome</i>, {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}<img src="{% static 'review/images/icons/user.svg' %}" id="user-img" class="mx-1">!</p>
                            </li>
                            {% if view_name == 'search' %}
                            <li class="nav-item active">
                                <a class="nav-link active" href="#"><img src="{% static 'review/images/icons/search.svg' %}" class="icon-active">Search Book <span class="sr-only">(current)</span></a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'search' %}"><img src="{% static 'review/images/icons/search.svg' %}" class="icon">Search Book</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}"><img src="{% static 'review/images/icons/logout.svg' %}" class="icon">Log Out</a>
                            </li>
                            {% else %}
                                {% if view_name == 'register' %}
                                <li class="nav-item active">
                                    <a class="nav-link active" href="#"><img src="{% static 'review/images/icons/register.svg' %}" class="icon-active">Register <span class="sr-only">(current)</span></a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}"><img src="{% static 'review/images/icons/register.svg' %}" class="icon">Register</a>
                                </li>
                                {% endif %}
                                {% if view_name == 'login' %}
                                <li class="nav-item active">
                                    <a class="nav-link active" href="#"><img src="{% static 'review/images/icons/login.svg' %}" class="icon-active">Log In <span class="sr-only">(current)</span></a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}"><img src="{% static 'review/images/icons/login.svg' %}" class="icon">Log In</a>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div id="top"></div>
            <div class="container">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}dark{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO  %}info{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}warning{% else %}danger{% endif %}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% block main %}{% endblock %}
            </div>
            <div id="bottom"></div>
        </main>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <span><a href="#bottom" class="nav-link"><img src="{% static 'review/images/icons/bottom.svg' %}" class="icon mx-2 float-right" alt="icon to go to the bottom" title="Bottom"></a></span>
                        <span><a href="#top" class="nav-link"><img src="{% static 'review/images/icons/top.svg' %}" class="icon mx-2 float-right" alt="icon to go to the top" title="Top"></a></span>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
